<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/main/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    failOnWarning="true"
    cacheDirectory="var/phpunit-cache"
    colors="true"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source ignoreSuppressionOfDeprecations="true" ignoreSuppressionOfPhpDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
