name: Quality Assurance

'on':
    workflow_dispatch:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
    cancel-in-progress: true

jobs:
    checks:
        runs-on: ubuntu-latest
        steps:
            -
                uses: hmarr/debug-action@v3.0.0
                if: runner.debug == '1'
            -
                uses: actions/checkout@v5.0.1
            -
                uses: actions/cache/restore@v4.3.0
                with:
                    path: var
                    key: ${{ runner.os }}-php-${{ github.base_ref || github.ref_name }}
            -
                uses: AndreKurait/docker-cache@0.6.0
                with:
                    key: ${{ runner.os }}-docker-${{ hashFiles('docker-compose.yaml') }}
            -
                id: install
                run: make composer-update
            -
                run: make lint
                if: "!cancelled() && steps.install.outcome == 'success'"
            -
                run: make cs
                if: "!cancelled() && steps.install.outcome == 'success' && github.ref_name == 'main'"
            -
                run: make psalm
                if: "!cancelled() && steps.install.outcome == 'success'"
            -
                run: make test
                if: "!cancelled() && steps.install.outcome == 'success'"
            -
                uses: stefanzweifel/git-auto-commit-action@v7.0.0
                with:
                    commit_user_name: etrias
                    commit_user_email: etrias@users.noreply.github.com
                    commit_author: etrias <etrias@users.noreply.github.com>
                if: "!cancelled() && github.ref_name == 'main'"
            -
                run: gh cache delete ${{ runner.os }}-php-${{ github.ref_name }}
                env:
                    GH_TOKEN: ${{ github.token }}
                if: "!cancelled() && github.event_name != 'pull_request'"
                continue-on-error: true
            -
                uses: actions/cache/save@v4.3.0
                with:
                    path: var
                    key: ${{ runner.os }}-php-${{ github.ref_name }}
                if: "!cancelled() && github.event_name != 'pull_request'"
